# VCSA Deployment
VCSA_JSON=
VCSA_CLI_PATH=
VCSA_HOST=

# vCenter Credentials
VC_USER=
VC_PASSWORD=

# ESXi Host Credentials
ESXI_HOST=
ESXI_USER=
ESXI_PASSWORD=

# Licensing
VC_LICENSE_KEY=
ESXI_LICENSE_KEY=

# Datacenter and Cluster
DATACENTER_NAME=
CLUSTER_NAME=

# NTP Servers (comma-separated)
NTP_SERVERS=

# Branding
ORG_NAME=
INSTANCE_NAME=
BANNER_MSG=
LEGAL_NOTICE=


# Networking & Deployment options
DEPLOYMENT_NETWORK=
DATASTORE=
THIN_DISK_MODE=
DEPLOYMENT_OPTION=

# Network config
IP_ADDRESS=
DNS_SERVERS=
NETWORK_PREFIX=
GATEWAY=

# SSO config
SSO_DOMAIN=
SSO_SITE=

# CEIP (Customer Experience Improvement Program) opt-in: true/false
CEIP_SETTINGS=
