# Org NAME
ORG_NAME=

# Required Paths (Mount the Vcenter DVD and past the path of \vcsa-cli-installer\win32)
VCSA_CLI_PATH=
VCSA_HOST=

# vCenter Credentials
VC_PASSWORD=
VCSA_ROOT_PASSWORD=

# ESXi Host Credentials
ESXI_HOST=
ESXI_USER=
ESXI_PASSWORD=

# NTP Servers (comma-separated)
NTP_SERVERS=pool.ntp.org

# Networking & Deployment options
DEPLOYMENT_NETWORK="VM Network"
DATASTORE=""
THIN_DISK_MODE=false
DEPLOYMENT_OPTION=small

# Network config
IP_ADDRESS=
DNS_SERVERS=
NETWORK_PREFIX=
GATEWAY=

# SSO config
SSO_DOMAIN=vsphere.local

# CEIP (Customer Experience Improvement Program) opt-in: true/false
CEIP_SETTINGS=false